<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/categories">
        Categories
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Categoría
    </ion-label>
    <ion-select [(ngModel)]="selectedFilterCategoryId">
      <ion-select-option [value]="null">
        Todas
      </ion-select-option>
      <ion-select-option [value]="NO_CATEGORY">
        Sin categoría
      </ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      {{ filteredTasks.length }}
      tarea(s)
    </ion-label>
  </ion-item>
  <div *ngIf="filteredTasks.length === 0">
    No hay tareas para esta categoría
  </div>
  <ion-list>
    <ion-item *ngFor="let task of filteredTasks; trackBy: trackByTask">
      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)">
      </ion-checkbox>
      <ion-label>
        <h2>
          {{task.title}}
        </h2>
        <p>
          {{getCategoryName(task.categoryId)}}
        </p>
        <p>
          {{task.completed ? 'Completada':'Pendiente'}}
        </p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="deleteTask(task.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-task-modal">
      +
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-task-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nueva Tarea</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Nombre de la tarea" labelPlacement="floating" placeholder="Ej. Estudiar Angular"
            [(ngModel)]="newTaskTitle">
          </ion-input>
        </ion-item>

        <h5 *ngIf="categoriesEnabled" class="ion-padding-start ion-padding-top">
          Categoría
        </h5>

        <ion-list *ngIf="categoriesEnabled">
          <ion-radio-group [(ngModel)]="selectedCategoryId">

            <ion-item>
              <ion-radio [value]="null">Sin categoría</ion-radio>
            </ion-item>

            <ion-item *ngFor="let category of categories">
              <ion-radio [value]="category.id">{{ category.name }}</ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" (click)="saveTask(modal)">
            Guardar Tarea
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>